address table {
    font-style: normal;
    font-size: 90%;

    * {
        vertical-align: text-top;
    }

    th {
        text-align: right;
        padding   : $margin-narrow $margin-default;
    }

    td p {
        margin: 0;
    }
}
