// Text colors
$color-normal: #333333;
$color-strong: #222222;
$color-titles: #111111;
$color-weak:   #888888;
$color-links:  #0880e8;
$color-bg:     #f4f4f4;

// Widths
$width-header: 52rem;
$width-content: 42rem;
$width-narrow: 30rem;
$margin-wide: 3rem;
$margin-default: 1rem;
$margin-narrow: 0.25rem;

// Other
$font-size-reduced: 80%;
$border-radius: 0.25rem;
