body {
    font-family:      Helvetica;
    color:            $color-normal;
    background-color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
    color: $color-titles;
}

strong {
    color: $color-strong;
}

a {
    font-weight: bold;
    color:       $color-links;
}

img, video {
    max-width: 100%;
    height:    auto;
}

hr {
    width : 65%;
    margin: $margin-wide auto;
}

body > main {
    max-width: $width-content;
    margin: 0 auto;
}

nav ul {
    list-style-type: none;

    margin: 0;
    padding: 0;
}

header.section {
    display:         flex;
    flex-direction:  row;
    flex-wrap:       wrap;
    justify-content: flex-start;
    align-items:     baseline;

    h2 {
        margin-top:    0;
        margin-bottom: 0;

        margin-right: $margin-narrow;
    }

    span.subscribe {
        font-size: $font-size-reduced;
    }
}

ol.feed {
    list-style-type: none;

    margin:  0;
    padding: 0;
}

img.about {
    float: right;
    max-width: $width-content / 3;

    margin-left: $margin-default;
    margin-bottom: $margin-default;

    border-radius: $border-radius;
}

nav.pagination {
    display:         flex;
    flex-direction:  row;
    flex-wrap:       nowrap;
    justify-content: space-between;
    align-items:     baseline;

    margin: $margin-wide;

    p.disabled {
        font-weight: bold;
        text-decoration: line-through;

        color: $color-weak;

        margin: 0;
    }
}

@mixin box {
    padding:          $margin-default;
    border-radius:    $border-radius;
    background-color: $color-bg;
}

a.feedback {
    position: fixed;
    bottom: $margin-narrow;
    right: $margin-narrow;

    padding: $margin-narrow;
    border-radius: $border-radius;

    background-color: #bb00bb;
    color: white;

    font-weight: bold;
}
