body {
    font-family:      Helvetica;
    color:            $color-normal;
    background-color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
    color: $color-titles;
}

strong {
    color: $color-strong;
}

a {
    font-weight: bold;
    color:       $color-links;
}

img, video {
    max-width: 100%;
    height:    auto;
}

hr {
    width : 65%;
    margin: 3em auto;
}

body {
    max-width: $content-width;
    margin:    0 auto;

    > main {
        > ol {
            list-style-type: none;

            margin:  0;
            padding: 0;
        }
    }

    > footer .made-in-odenwald {
        text-align: center;
        margin:     3em auto;

        a {
            color: #000000;
        }
    }
}

header.section {
    display:         flex;
    flex-direction:  row;
    flex-wrap:       wrap;
    justify-content: flex-start;
    align-items:     baseline;

    h2 {
        margin-top:    0;
        margin-bottom: 0;

        margin-right: 0.25em;
    }

    a {
        font-size: $font-size-reduced;
    }
}

@mixin box {
    margin:           1em;
    padding:          1em;
    border-radius:    0.25em;
    background-color: #f4f4f4;
}
