// Text colors
$color-normal: #333333;
$color-strong: #222222;
$color-titles: #111111;
$color-links:  #0880e8;

// Widths
$content-width: 42em;

// Box attributes
$box-color:  #f4f4f4;
$box-padding: 1em;
$box-radius:  0.25em;
