// Text colors
$color-normal: #333333;
$color-strong: #222222;
$color-titles: #111111;
$color-links:  #0880e8;
$color-bg:     #f4f4f4;

// Widths
$content-width: 42em;
$margin-default: 1em;
$margin-wide: 3em;
$margin-narrow: 0.25em;

// Other
$font-size-reduced: 80%;
$border-radius: 0.25em;
