body > header {
    max-width: $width-header;
    margin: 0 auto;

    margin-bottom: $margin-wide;

    a.title {
        text-decoration: none;

        h1 {
            margin-bottom: 0;
            font-size:     250%;
        }

        h2 {
            margin-top: 0;
            font-size : 100%;
        }
    }

    div.contact {
        float: right;

        margin-top: $margin-default;
        margin-bottom: $margin-default * 2;

        p {
            margin: 0;
            text-align: right;

            font-size: $font-size-reduced;

            a {
                color: $color-strong;
                text-decoration: none;
            }
        }
    }

    nav {
        text-align: right;

        ul li {
            display:     inline;
            margin-left: $margin-default;

            a {
                color: $color-strong;
                text-decoration: none;

                padding-bottom: 0.1em;
            }

            a.active {
                border-bottom-style: dashed;
                border-bottom-width: 1px;
            }
        }
    }
}
