body > header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;

    margin-bottom: 3em;

    a.title {
        text-decoration: none;

        h1 {
            margin-bottom: 0em;
            font-size:     250%;
        }

        h2 {
            margin-top: 0em;
            font-size : 100%;
        }
    }

    nav ul {
        list-style-type: none;

        margin: 0;
        padding: 0;

        a {
            color: $color-strong;
            text-decoration: none;
        }
    }
}
