.feeds {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

    > section {
        flex-grow: 1;
        flex-basis: $width-content / 2;

        .more {
            margin-top: $margin-wide;

            font-size: $font-size-reduced;
            text-align: center;
        }
    }
}
