.preview {
    a {
        display: block;
        margin:  0 auto;
    }

    a img {
        // for styling alt text
        color:     #666666;
        font-size: $font-size-reduced;

        border-radius: $border-radius;
    }

    a.goto {
        font-size: $font-size-reduced;
        text-align: center;
    }
}

article video {
    display: block;
    margin:  0 auto;
}
