div.preview {
    > a {
        // center link/image
        display: block;
        margin:  0 auto;

        text-decoration: none;

        p {
            font-weight: normal;
            color: $color-normal;
        }

        img {
            // for styling alt text
            color:     #666666;
            font-size: $font-size-reduced;

            border-radius: $border-radius;
        }
    }
    div.goto {
        font-size: $font-size-reduced;
        text-align: center;
    }
}

article video {
    display: block;
    margin:  0 auto;
}
