.preview {
    font-size: $font-size-reduced;

    a {
        display: block;
        margin:  0 auto;
    }

    a img {
        // for styling alt text
        color: #666666;

        border-radius: $border-radius;
    }

    a.goto {
        text-align: center;
    }
}

article video {
    display: block;
    margin:  0 auto;
}
