form.newsletter {
    @include box;

    max-width: $width-narrow;

    margin: 0 auto;

    input {
        margin: $margin-narrow * 2 0;
    }

    input[type=email] {
        width:      100%;
        box-sizing: border-box
    }

    input[type=submit] {
        border: 0 none;

        border-radius: $border-radius;
        padding:       $margin-narrow * 2 $margin-default;

        font-weight: bold;

        color:            #ffffff;
        background-color: #444444;
    }
}
