form.newsletter {
    max-width: 30em;
    margin:    2em auto;
    padding:   1em;

    border-radius: 0.25em;

    background-color: #f4f4f4;

    input {
        margin: 0.5em 0;
    }

    input[type=email] {
        width:      100%;
        box-sizing: border-box
    }

    input[type=submit] {
        border: 0 none;

        border-radius: 0.25em;
        padding:       0.5em 1em;

        font-weight: bold;

        color:            #ffffff;
        background-color: #444444;
    }
}
