ol.notes article {
    @include box;

    a.title {
        font-weight:     normal;
        text-decoration: none;
        color:           $color-normal
    }

    h2 {
        margin-top:    0.25em;
        margin-bottom: 0em;
    }

    p.published {
        margin-top: 0em;
        font-size:  $font-size-reduced;
    }

    div.goto {
        // margin: 0 auto;
        font-size: $font-size-reduced;
        text-align: center;
    }
}

article.note header {
    h2 {
        margin-bottom: 0em;
    }

    p.published {
        margin-top: 0em;
        font-size:  $font-size-reduced;
    }
}
