article.note-preview {
    @include box;

    margin: $margin-default;

    h2 {
        margin-top: $margin-narrow;
    }
}

article.note-preview header, article.note header {
    h2 {
        margin-bottom: 0;
    }

    p.published {
        margin-top: 0;
        font-size:  $font-size-reduced;
    }
}
