article.note-preview {
    @include box;

    margin: $margin-default;

    h2 {
        margin-top: $margin-narrow;
    }
}

header.note {
    h2 {
        margin-bottom: 0em;
    }

    p.published {
        margin-top: 0em;
        font-size:  $font-size-reduced;
    }
}
