article.product form {
    margin: $margin-wide;

    display: flex;
    flex-direction: column;

    div {
        margin: $margin-narrow * 2;
        width: 65%;

        align-self: center;

        display: flex;
        justify-content: space-between;

        input {
            height: max-content;
            align-self: center;
        }
    }

    input[type="submit"] {
        width: max-content;
        align-self: center;
    }
}
