article.update {
    @include box;

    margin: $margin-default;

    .metadata {
        margin-top: 1.0em;

        font-size: $font-size-reduced;
        font-style: italic;

        .date {
            font-weight: bold;
        }
    }
}
