article.update {
    @include box;

    margin: $margin-default;

    .content p {
        margin: 0;
        margin-bottom: 0.5em;
    }
    .metadata {
        font-size: $font-size-reduced;
        font-style: italic;

        .date {
            font-weight: bold;
        }
    }
}
