{% macro title(word="") %}
    {% if word != "" %}
        <title>{{ word }} - Made by Hanno</title>
    {% else %}
        <title>Made by Hanno</title>
    {% endif %}
{% endmacro %}

{% macro nav_entry(title, path) %}
    {% if page %}
        {% set current_path = page.path %}
    {% elif section %}
        {% set current_path = section.path %}
    {% endif %}

    {% if current_path is starting_with(path) %}
        {% set class = "active" %}
    {% else %}
        {% set class = "" %}
    {% endif %}

    <li><a class="{{ class }}" href="{{ path }}">{{ title }}</a></li>
{% endmacro %}

{% macro section_title() %}
    <header class="section">
        <h2>{{ section.title }}</h2>
        <a href="/atom.xml">(Atom feed)</a>
    </header>
{% endmacro %}

{% macro update(page, show_permalink) %}
    <article class="update">
        <div class="content">
            {{ page.content | safe }}
        </div>
        <div class="metadata">
            Posted on <span class="date">{{ page.date }}</span>
            {% if show_permalink == true %}
                - <a href="{{ page.path }}">permalink</a>
            {% endif %}
        </div>
    </article>
{% endmacro %}

{% macro preview_image(path, link, alt, text) %}
    {% set image = resize_image(path=path, width=600, op="fit_width") %}

    <a class="preview-image" href="{{ link }}">
        <img
            src="{{ image.static_path | trim_start_matches(pat="static") }}"
            alt="{{ alt }}" />
        <p>{{ text }}</p>
    </a>
{% endmacro %}
