{% macro title(word="") %}
    {% if word != "" %}
        <title>{{ word }} - Hanno Braun</title>
    {% else %}
        <title>Hanno Braun</title>
    {% endif %}
{% endmacro %}

{% macro email() %}
    <a href="mailto:Hanno%20Braun%20%3Channo@braun-odw.eu%3E">
        hanno@braun-odw.eu
    </a>
{% endmacro %}

{% macro matrix() %}
    <a href="https://matrix.to/#/@hanno:braun-odw.eu">@hanno:braun-odw.eu</a>
{% endmacro %}

{% macro nav_entry(title, path) %}
    {% if page %}
        {% set current_path = page.path %}
    {% elif section %}
        {% set current_path = section.path %}
    {% endif %}

    {% if current_path is starting_with(path) %}
        {% set class = "active" %}
    {% else %}
        {% set class = "" %}
    {% endif %}

    <li><a class="{{ class }}" href="{{ path }}">{{ title }}</a></li>
{% endmacro %}

{% macro section_title() %}
    <header class="section">
        <h2>{{ section.title }}</h2>
        <a href="/atom.xml">(Atom feed)</a>
    </header>
{% endmacro %}

{% macro update(page, show_permalink) %}
    <article class="update">
        <div class="content">
            {{ page.content | safe }}
        </div>
        <div class="metadata">
            Posted on <span class="date">{{ page.date | date }}</span>
            {% if show_permalink == true %}
                - <a href="{{ page.path }}">permalink</a>
            {% endif %}
        </div>
    </article>
{% endmacro %}

{% macro note_preview(page) %}
    <article class="note-preview">
        <a class="title" href="{{ page.path }}">
            {{ macros::note_title(page=page) }}
        </a>

        {% if page.extra.image %}
            <a class="preview-image" href="{{ page.path }}">
                <img
                    src="/notes/{{ page.slug }}/{{ page.extra.image }}?nf_resize=fit&w=600"
                    alt="{{ page.title }}" />
                <p>Go to note...</p>
            </a>
        {% else %}
            <p>{{ page.extra.intro | markdown | safe }}</p>
            <div class="goto">
                <a href="{{ page.path }}">Go to note...</a>
            </div>
        {% endif %}
    </article>
{% endmacro %}

{% macro note_title(page) %}
    <h2>{{ page.title }}</h2>
    <p class="published">
        {% if page.updated %}
            <strong>Published:</strong> {{ page.date }} (<strong>updated</strong> {{ page.updated }})
        {% else %}
            <strong>Published:</strong> {{ page.date }}
        {% endif %}
    </p>
{% endmacro %}

{% macro pagination() %}
    <nav class="pagination">
        {% if paginator.previous %}
            <a
                class="previous"
                href="{{ macros::abs_to_rel(abs=paginator.previous) }}">
                🢐 Previous
            </a>
        {% endif %}
        {% if paginator.next %}
            <a
                class="next"
                href="{{ macros::abs_to_rel(abs=paginator.next) }}">
                Next 🢒
            </a>
        {% endif %}
    </div>
{% endmacro %}

{% macro abs_to_rel(abs) %}
    {{ abs | trim_start_matches(pat=config.base_url) }}
{% endmacro %}
