<form
    method="POST"
    action="https://d1e704b6.sibforms.com/serve/MUIEAF1fO262IbH9kaoDscoQaMTTyYj1-IQeOP-2VjyV6YCTUdLogfhQmvpbWxsro2Yy7q5MXbgagaaqUVMoKUUaWhN2Bz4jEg0r14e4MwMAhiAA2u5mI-WDPamXyKsiAxGgetQzrr4w11vVB9qSrNLFWu6VHQYeXcDqJVfY1WkiRJLbGhezInORJhakU4ET8hDHgqKMq8-sL8EY">
    <h2>Newsletter</h2>
    <p>
        Sign up to stay informed on what's happening around here. I'll send an email from time to time, to summarize what's going on.
    </p>
    <input
        type="email"
        name="EMAIL"
        required
        placeholder="your@email.com" />
    <input
        type="submit"
        value="Sign up" />
</form>
