content/notes/**/*.jpg filter=lfs diff=lfs merge=lfs -text
content/notes/**/*.png filter=lfs diff=lfs merge=lfs -text
content/updates/**/*.jpg filter=lfs diff=lfs merge=lfs -text
content/updates/**/*.png filter=lfs diff=lfs merge=lfs -text
