website/content/notes/**/*.jpg filter=lfs diff=lfs merge=lfs -text
website/content/notes/**/*.png filter=lfs diff=lfs merge=lfs -text
website/content/updates/**/*.jpg filter=lfs diff=lfs merge=lfs -text
website/content/updates/**/*.png filter=lfs diff=lfs merge=lfs -text
