[Unit]
Description=Custom backend for made-by.braun-odw.eu

[Service]
ExecStart=/usr/local/bin/backend --port=80 --serve=/srv/made-by.braun-odw.eu

[Install]
WantedBy=multi-user.target
