<form
    method="POST"
    action="https://d1e704b6.sibforms.com/serve/MUIEAFTRY8OrvVlpvBd_HyFSda_obaCy2G_I-Mii7y6aRjYgP4KisQc_WC70fpXwDbmfcPbke2d1EdUyXe94a2ar1ZqjCWUNU_A_ZziHhuJMSYowPt0NK2l-vgkKdTWwcYPQilZoHTWfcf-ddOBWDR1QRNOyeh8bwPL2PNxJJQyMsRvbKs63_1dU6Qn8JZaY0Vdbb-Jphnx3imFZ">
    <h2>Newsletter</h2>
    <p>
        Sign up to stay informed on what's happening around here. I'll send an email from time to time, to summarize what's going on.
    </p>
    <input
        type="email"
        name="EMAIL"
        required
        placeholder="your@email.com" />
    <input
        type="submit"
        value="Sign up" />
</form>
