{% import "include/macros.html" as macros %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {% block title %}
            {% if page %}
                {{ macros::title(word=page.title) }}
            {% elif section %}
                {{ macros::title(word=section.title) }}
            {% else %}
                {{ macros::title() }}
            {% endif %}
        {% endblock title %}

        <link href="/style.css" rel="stylesheet" type="text/css" media="all" />

        <link href="/atom.xml" rel="alternate" type="application/atom+xml" />
    </head>
    <body>
        <header>
            <div class="contact">
                <p>{{ macros::email() }}</p>
                <p>{{ macros::matrix() }}</p>
            </div>
            <a class="title" href="/">
                <h1>Hanno Braun</h1>
                <h2>making, automation, small-scale manufacturing</h2>
            </a>
            <nav>
                <ul>
                    {{ macros::nav_entry(name="Home") }}
                    {{ macros::nav_entry(name="Updates") }}
                    {{ macros::nav_entry(name="Notes") }}
                    {{ macros::nav_entry(name="Services") }}
                    {{ macros::nav_entry(name="About") }}
                </ul>
            </nav>
        </header>
        <main>
            {% block main %}{% endblock main %}
        </main>
        <hr />
        <footer>
            {% include "include/newsletter.html" %}

            <nav>
                <section>
                    <h3>Pages</h3>
                    <ul>
                        {{ macros::nav_entry(name="Home") }}
                        {{ macros::nav_entry(name="About") }}
                    </ul>
                </section>
                <section>
                    <h3>Content</h3>
                    <ul>
                        {{ macros::nav_entry(name="Updates") }}
                        {{ macros::nav_entry(name="Notes") }}
                    </ul>
                </section>
                <section>
                    <h3>Offers</h3>
                    <ul>
                        {{ macros::nav_entry(name="Services") }}
                        {{ macros::nav_entry(name="Products") }}
                    </ul>
                </section>
                <section>
                    <h3>Other</h3>
                    <ul>
                        {{ macros::nav_entry(name="Contact") }}
                    </ul>
                </section>
            </nav>

            <div class="made-in-odenwald">
                <a href="/made-in-odenwald/0.jpg" target="_blank">
                    Made in Odenwald ♥
                </a>
            </div>
        </footer>
    </body>
</html>
