<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {% if page and page.content != "" %}
            <title>{{ page.title }} - Made by Hanno</title>
        {% else %}
            <title>Made by Hanno</title>
        {% endif %}

        <link href="/style.css" rel="stylesheet" type="text/css" media="all" />

        <link href="/atom.xml" rel="alternate" type="application/atom+xml" />
    </head>
    <body>
        <header>
            <a class="title" href="/">
                <h1>Made by Hanno</h1>
                <h2>workshop projects, mostly 3D-printed</h2>
            </a>
        </header>
        <main>
            {% block main %}{% endblock main %}
        </main>
        <hr />
        <footer>
            {% include "include/newsletter.html" %}
            <table>
                <tr>
                    <th>Email</th>
                    <td>
                        <a href="mailto:Hanno%20Braun%20%3Channo@braun-odw.eu%3E">
                            hanno@braun-odw.eu
                        </a>
                    </td>
                </tr>
                <tr>
                    <th>Matrix</th>
                    <td>
                        <a href="https://matrix.to/#/@hanno:braun-odw.eu">
                            @hanno:braun-odw.eu
                        </a>
                    </td>
                </tr>
                <tr>
                    <th>Deliveries</th>
                    <td>
                        <p>Hanno Braun</p>
                        <p>Untere Pfarrgasse 19</p>
                        <p>64720 Michelstadt</p>
                        <p>Germany</p>
                    </td>
                </tr>
            </table>
            <div class="made-in-odenwald">
                <a href="/made-in-odenwald/0.jpg" target="_blank">
                    Made in Odenwald ♥
                </a>
            </div>
        </footer>
    </body>
</html>
