{% import "include/macros.html" as macros %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {% if page %}
            {{ macros::title(word=page.title) }}
        {% elif section %}
            {{ macros::title(word=section.title) }}
        {% else %}
            {{ macros::title() }}
        {% endif %}

        <link href="/style.css" rel="stylesheet" type="text/css" media="all" />

        {% block feed %}
            {% set feed = "/atom.xml" %}
        {% endblock %}
        <link href="{{ feed }}" rel="alternate" type="application/atom+xml" />
    </head>
    <body>
        <header>
            <div class="contact">
                <ul>
                    <li>{{ macros::email() }}</li>
                    <li>{{ macros::matrix() }}</li>
                </ul>
            </div>
            <a class="title" href="/">
                <h1>Hanno Braun</h1>
                <h2>making, automation, small-scale manufacturing</h2>
            </a>
            <nav>
                <ul>
                    {{ macros::nav_entry(path="/") }}
                    {{ macros::nav_entry(path="/updates") }}
                    {{ macros::nav_entry(path="/notes") }}
                    {{ macros::nav_entry(path="/services") }}
                    {{ macros::nav_entry(path="/about") }}
                </ul>
            </nav>
        </header>
        <main>
            {% block main %}{% endblock %}
        </main>
        <hr />
        <footer>
            {{ macros::newsletter_form() }}

            <nav>
                <section>
                    <h3>Pages</h3>
                    <ul>
                        {{ macros::nav_entry(path="/") }}
                        {{ macros::nav_entry(path="/about") }}
                    </ul>
                </section>
                <section>
                    <h3>Content</h3>
                    <ul>
                        {{ macros::nav_entry(path="/updates") }}
                        {{ macros::nav_entry(path="/notes") }}
                    </ul>
                </section>
                <section>
                    <h3>Offers</h3>
                    <ul>
                        {{ macros::nav_entry(path="/services") }}
                        {{ macros::nav_entry(path="/products") }}
                    </ul>
                </section>
                <section>
                    <h3>Other</h3>
                    <ul>
                        {{ macros::nav_entry(path="/contact") }}
                        {{ macros::nav_entry(path="/subscribe") }}
                    </ul>
                </section>
            </nav>

            <div class="made-in-odenwald">
                <a href="/made-in-odenwald/0.jpg" target="_blank">
                    Made in Odenwald ♥
                </a>
            </div>
        </footer>
    </body>
</html>
