{% macro title(word="") %}
    {% if word != "" %}
        <title>{{ word }} - Made by Hanno</title>
    {% else %}
        <title>Made by Hanno</title>
    {% endif %}
{% endmacro input %}

{% macro nav_entry(title, path) %}
    <li><a href="{{ path }}">{{ title }}</a></li>
{% endmacro input %}

{% macro update(page, show_permalink) %}
    <article class="update">
        <div class="content">
            {{ page.content | safe }}
        </div>
        <div class="metadata">
            Posted on <span class="date">{{ page.date }}</span>
            {% if show_permalink == true %}
                - <a href="{{ page.path }}">permalink</a>
            {% endif %}
        </div>
    </article>
{% endmacro input %}
