table.contact {
    margin:    0 auto;
    font-size: 90%;

    * {
        vertical-align: text-top;
    }

    th {
        text-align: right;
        padding   : 0.35em 1em;
    }

    td p {
        margin: 0;
    }
}
