a.resized-image {
    // center link/image
    display: block;
    margin:  0 auto;

    // center text under image
    text-align: center;

    p {
        font-size:  80%;
        margin-top: 0;
    }

    // for styling alt text
    img {
        color:     #666666;
        font-size: 80%;
    }
}

article video {
    display: block;
    margin:  0 auto;
}
