{% extends "extend/base.html" %}

{% block main %}
    {{ section.content | safe }}

    {% set updates = get_section(path="updates/_index.md") %}
    {% set notes = get_section(path="notes/_index.md") %}

    <div class="feeds">
        <section>
            <h3>Latest Updates</h3>
            <ol class="feed">
                {% for page in updates.pages | slice(end=3) -%}
                    <li>
                        {{ macros::update(page=page, show_permalink=true) }}
                    </li>
                {%- endfor %}
            </ol>
            <div class="more">
                <a href="/updates">More updates...</a>
            </div>
        </section>
        <section>
            <h3>Latest Notes</h3>
            <ol class="feed">
                {% for page in notes.pages | slice(end=3) -%}
                    <li>
                        {{ macros::note_preview(page=page) }}
                    </li>
                {%- endfor %}
            </ol>
            <div class="more">
                <a href="/notes">More notes...</a>
            </div>
        </section>
    </div>
{% endblock main %}
