{% extends "extend/base.html" %}

{% block main %}
    <a href="/notes">🢐 back to Notes</a>
    <article class="note">
        <header>
            <h2>{{ page.title }}</h2>
            <p class="published">
                <strong>Published:</strong> {{ page.date }}
            </p>
        </header>

        {{ page.content | safe }}

        <hr />

        <footer>
            <p>
                Did you like this? Or not? Any comments or suggestions? Get in touch!
            </p>
            <ul>
                <li>Email: <strong><a href="mailto:hanno@braun-odw.eu">hanno@braun-odw.eu</a></strong></li>
                <li>Matrix: <strong><a href="https://matrix.to/#/@hanno:braun-odw.eu">@hanno:braun-odw.eu</a></strong></li>
            </ul>
            <p>
                Don't have anything to say right now, but want to stay connected? <a href="/atom.xml">Subscribe to the feed</a>, or subscribe to the newsletter using the form below!
            </p>
        </footer>
    </article>
{% endblock main %}
