{% import "include/macros.html" as macros %}

{% extends "extend/base.html" %}

{% block main %}
    {{ macros::section_title() }}
    <ol class="notes">
        {% for page in section.pages -%}
            <li>
                <article>
                    <a href="{{ page.path }}" class="title">
                        <h2>{{ page.title }}</h2>
                        <p class="published">
                            <strong>Published:</strong> {{ page.date }}
                        </p>
                    </a>

                    {% if page.extra.image %}
                        <a class="preview-image" href="{{ page.path }}">
                            {% set image = resize_image(
                                path=page.extra.image,
                                width=600,
                                op="fit_width"
                            ) %}
                            <img
                                src="{{ image.static_path | trim_start_matches(pat="static") }}"
                                alt="{{ page.title }}" />
                            <p>Go to note...</p>
                        </a>
                    {% else %}
                        <p>{{ page.summary | safe }}</p>
                        <div class="goto">
                            <a href="{{ page.path }}">Go to note...</a>
                        </div>
                    {% endif %}
                </article>
            </li>
        {%- endfor %}
    </ol>
{% endblock main %}
