{% import "include/macros.html" as macros %}

{% extends "extend/base.html" %}

{% block main %}
    <a href="/notes">🢐 back to Notes</a>
    <article class="note">
        <header>
            {{ macros::note_title(page=page) }}
        </header>

        {{ page.content | safe }}

        <hr />

        <footer>
            <p>
                Did you like this? Or not? Any comments or suggestions? Please <a href="/contact">get in touch</a>!
            </p>
            <p>
                Don't have anything to say right now, but want to stay connected? <a href="/atom.xml">Subscribe to the feed</a>, or subscribe to the newsletter using the form below!
            </p>
        </footer>
    </article>
{% endblock main %}
