{% import "include/macros.html" as macros %}

{% extends "extend/base.html" %}

{% block main %}
    {{ macros::section_title() }}
    <ol class="notes">
        {% for page in section.pages -%}
            <li>
                <article>
                    <a href="{{ page.path }}" class="title">
                        <h2>{{ page.title }}</h2>
                        <p class="published">
                            <strong>Published:</strong> {{ page.date }}
                        </p>
                    </a>
                    <a class="preview-image" href="{{ page.path }}">
                        {% set image = resize_image(
                            path=page.extra.image,
                            width=600,
                            op="fit_width"
                        ) %}
                        <img
                            src="{{ image.url }}"
                            alt="{{ page.title }}" />
                        <p>Go to note...</p>
                    </a>
                </article>
            </li>
        {%- endfor %}
    </ol>
{% endblock main %}
