{% import "include/macros.html" as macros %}

{% extends "extend/base.html" %}

{% block feed %}
    {% set feed = "/" ~ page.components[0] ~ "/atom.xml" %}
{% endblock %}

{% block main %}
    {{ macros::back(path="/notes") }}

    <article>
        <header class="note">
            {{ macros::note_title(page=page) }}
        </header>

        {% if page.extra.intro %}
            {{ page.extra.intro | markdown | safe }}
        {% endif %}

        {{ page.content | safe }}

        <hr />

        <footer>
            <p>
                Did you like this? Or not? Any comments or suggestions? Please <a href="/contact">get in touch</a>!
            </p>
            <p>
                Don't have anything to say right now, but want to stay connected? <a href="/atom.xml">Subscribe to the feed</a>, or subscribe to the newsletter using the form below!
            </p>
        </footer>
    </article>

    {{ macros::back(path="/notes") }}
{% endblock %}
