{% extends "extend/base.html" %}

{% block main %}
    <article class="project">
        <header>
            <h2>{{ page.title }}</h2>
            <p class="published">
                <strong>Published:</strong> {{ page.date }}
            </p>
        </header>

        {{ page.content | safe }}

        <hr />

        <footer>
            <p>
                Do you like this project? Have any comments or suggestions? <strong><a href="mailto:hb@hannobraun.de">Get in touch</a></strong> and let me know!
            </p>

            <p>
                Don't have anything to say right now, but want to stay connected? <a href="/atom.xml">Subscribe to the feed</a> or to the newsletter below!
            </p>
        </footer>
    </article>
{% endblock main %}
