{% extends "extend/base.html" %}

{% block css -%}
{%- endblock css %}

{% block header %}
    {% include "include/header.html" %}
{% endblock header %}

{% block main %}
    <ol class="projects">
        {% for page in section.pages -%}
            <li>
                <a href="{{ page.path }}" class="title">
                    <h2>{{ page.title }}</h2>
                    <p class="updated">
                        <strong>Updated:</strong> {{ page.date }}
                    </p>
                </a>
                <a href="{{ page.path }}">
                    <img
                        src="{{ resize_image(
                            path=page.extra.image,
                            width=600,
                            op="fit_width"
                        ) }}"
                        alt="{{ page.title }}" />
                    <p class="goto">Go to project...</p>
                </a>
            </li>
        {%- endfor %}
    </ol>
{% endblock main %}

{% block footer %}
    {% include "include/newsletter.html" %}
{% endblock footer %}
