{% extends "extend/base.html" %}

{% block main %}
    <ol class="updates">
        {% for page in section.pages | reverse -%}
            <li class="box">
                <article>
                    <div class="content">
                        {{ page.content | safe }}
                    </div>
                    <div class="metadata">
                        Posted on <span class="date">{{ page.date }}</span>
                    </div>
                </article>
            </li>
        {%- endfor %}
    </ol>
{% endblock main %}
